 <%= form_with(model: [@event, reg]) do |f|%>

    <%=render 'shared/errors', object: reg%>

  <div class="mb-3">
    <%=f.label :how_heard,"How did you hear about us?",class:"form-label"%>
    <%=f.select :how_heard, Registration::HOW_HEARD_OPTIONS, {prompt: "Pick one"}, class:"form-control"%>
  </div>

  

  <div class="mb-3">
    <%=f.submit "Register", class:"btn btn-primary"%>
  </div>


  <%end%>